In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Iris.csv", header=None)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [3]:
df.columns = ['SepalLengthCm',"SepalWidthCm", "PetalLengthCm", "PetalWidthCm", "Species"]
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
df.shape

(150, 5)

# Create Subsets

In [6]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
df_setosa = df[df["Species"] == 'Iris-setosa']
print(df_setosa.shape)
df_setosa.head(10)

(50, 5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa
5            5.4           3.9            1.7           0.4  Iris-setosa
6            4.6           3.4            1.4           0.3  Iris-setosa
7            5.0           3.4            1.5           0.2  Iris-setosa
8            4.4           2.9            1.4           0.2  Iris-setosa
9            4.9           3.1            1.5           0.1  Iris-setosa

In [8]:
df_versi = df[df["Species"] == "Iris-versicolor"]
print(df_versi.shape)
df_versi.head()

(50, 5)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
50            7.0           3.2            4.7           1.4  Iris-versicolor
51            6.4           3.2            4.5           1.5  Iris-versicolor
52            6.9           3.1            4.9           1.5  Iris-versicolor
53            5.5           2.3            4.0           1.3  Iris-versicolor
54            6.5           2.8            4.6           1.5  Iris-versicolor

# Merging

In [9]:
df_merged = pd.concat([df_setosa, df_versi])
df_merged

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0             5.1           3.5            1.4           0.2      Iris-setosa
1             4.9           3.0            1.4           0.2      Iris-setosa
2             4.7           3.2            1.3           0.2      Iris-setosa
3             4.6           3.1            1.5           0.2      Iris-setosa
4             5.0           3.6            1.4           0.2      Iris-setosa
..            ...           ...            ...           ...              ...
95            5.7           3.0            4.2           1.2  Iris-versicolor
96            5.7           2.9            4.2           1.3  Iris-versicolor
97            6.2           2.9            4.3           1.3  Iris-versicolor
98            5.1           2.5            3.0           1.1  Iris-versicolor
99            5.7           2.8            4.1           1.3  Iris-versicolor

[100 rows x 5 columns]

In [10]:
dfs1 = df.iloc[0:50, 0]
dfs1.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: SepalLengthCm, dtype: float64

In [11]:
dfs2 = df.iloc[50:100, 0:2]
dfs2.head()

    SepalLengthCm  SepalWidthCm
50            7.0           3.2
51            6.4           3.2
52            6.9           3.1
53            5.5           2.3
54            6.5           2.8

In [12]:
df_merge = pd.concat([dfs1, dfs2])
df_merge

      0  SepalLengthCm  SepalWidthCm
0   5.1            NaN           NaN
1   4.9            NaN           NaN
2   4.7            NaN           NaN
3   4.6            NaN           NaN
4   5.0            NaN           NaN
..  ...            ...           ...
95  NaN            5.7           3.0
96  NaN            5.7           2.9
97  NaN            6.2           2.9
98  NaN            5.1           2.5
99  NaN            5.7           2.8

[100 rows x 3 columns]

In [13]:
df_merge1 = pd.merge(dfs1, dfs2, on="SepalLengthCm", how="right")
df_merge1

    SepalLengthCm  SepalWidthCm
0             7.0           3.2
1             6.4           3.2
2             6.9           3.1
3             5.5           2.3
4             5.5           2.3
..            ...           ...
85            5.1           2.5
86            5.1           2.5
87            5.1           2.5
88            5.7           2.8
89            5.7           2.8

[90 rows x 2 columns]

In [14]:
df_merge1.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
dtype: int64

# Sort Values

In [15]:
df_sorted = df.sort_values(by="PetalLengthCm", ascending=True)
df_sorted

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
22             4.6           3.6            1.0           0.2     Iris-setosa
13             4.3           3.0            1.1           0.1     Iris-setosa
14             5.8           4.0            1.2           0.2     Iris-setosa
35             5.0           3.2            1.2           0.2     Iris-setosa
36             5.5           3.5            1.3           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
131            7.9           3.8            6.4           2.0  Iris-virginica
105            7.6           3.0            6.6           2.1  Iris-virginica
117            7.7           3.8            6.7           2.2  Iris-virginica
122            7.7           2.8            6.7           2.0  Iris-virginica
118            7.7           2.6            6.9           2.3  Iris-virginica

[150 rows x 5 columns]

# Transpose

In [16]:
df_transpose = df.transpose();
df_transpose

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
SepalLengthCm,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
SepalWidthCm,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
PetalLengthCm,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
PetalWidthCm,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

# Melting to long format

In [17]:
df['Index'] = range(1, len(df)+1)
df.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Index
0,5.1,3.5,1.4,0.2,Iris-setosa,1
1,4.9,3.0,1.4,0.2,Iris-setosa,2
2,4.7,3.2,1.3,0.2,Iris-setosa,3
3,4.6,3.1,1.5,0.2,Iris-setosa,4
4,5.0,3.6,1.4,0.2,Iris-setosa,5

In [20]:
df_melt = pd.melt(df, id_vars="Index") //value_vars used to specify the specific variable we want.
df_melt

     Index       variable           value
0        1  SepalLengthCm             5.1
1        2  SepalLengthCm             4.9
2        3  SepalLengthCm             4.7
3        4  SepalLengthCm             4.6
4        5  SepalLengthCm             5.0
..     ...            ...             ...
745    146        Species  Iris-virginica
746    147        Species  Iris-virginica
747    148        Species  Iris-virginica
748    149        Species  Iris-virginica
749    150        Species  Iris-virginica

[750 rows x 3 columns]

# Cast to Wide Format

In [24]:
df_cast = pd.pivot_table(df, index=["Species","PetalLengthCm"], aggfunc="mean", fill_value= 0)
df_cast

                                    Index  PetalWidthCm  SepalLengthCm  \
Species         PetalLengthCm
Iris-setosa     1.0             23.000000      0.200000       4.600000
                1.1             14.000000      0.100000       4.300000
                1.2             25.500000      0.200000       5.400000
                1.3             31.714286      0.257143       4.842857
                1.4             21.833333      0.216667       4.916667
                1.5             24.714286      0.221429       5.128571
                1.6             31.000000      0.285714       4.914286
                1.7             17.500000      0.350000       5.400000
                1.9             35.000000      0.300000       4.950000
Iris-versicolor 3.0             99.000000      1.100000       5.100000
                3.3             76.000000      1.000000       4.950000
                3.5             70.500000      1.000000       5.350000
                3.6             65.000000      1.300000       5.600000
                3.7             82.000000      1.000000       5.500000
                3.8             81.000000      1.100000       5.500000
                3.9             71.000000      1.233333       5.533333
                4.0             74.400000      1.220000       5.780000
                4.1             85.666667      1.200000       5.700000
                4.2             87.500000      1.325000       5.725000
                4.3             86.500000      1.300000       6.300000
                4.4             80.250000      1.325000       6.275000
                4.5             70.571429      1.485714       5.900000
                4.6             68.666667      1.400000       6.400000
                4.7             66.600000      1.420000       6.440000
                4.8             74.000000      1.600000       6.350000
                4.9             63.000000      1.500000       6.600000
                5.0             78.000000      1.700000       6.700000
                5.1             84.000000      1.600000       6.000000
Iris-virginica  4.5            107.000000      1.700000       4.900000
                4.8            133.000000      1.800000       6.100000
                4.9            124.666667      1.866667       6.000000
                5.0            127.000000      1.800000       6.000000
                5.1            128.142857      1.971429       6.142857
                5.2            147.000000      2.150000       6.600000
                5.3            114.000000      2.100000       6.400000
                5.4            144.500000      2.200000       6.550000
                5.5            122.666667      1.900000       6.566667
                5.6            129.833333      2.050000       6.366667
                5.7            130.333333      2.300000       6.766667
                5.8            114.666667      1.866667       6.800000
                5.9            123.500000      2.200000       6.950000
                6.0            113.500000      2.150000       6.750000
                6.1            125.666667      2.233333       7.433333
                6.3            108.000000      1.800000       7.300000
                6.4            132.000000      2.000000       7.900000
                6.6            106.000000      2.100000       7.600000
                6.7            120.500000      2.100000       7.700000
                6.9            119.000000      2.300000       7.700000

                               SepalWidthCm
Species         PetalLengthCm
Iris-setosa     1.0                3.600000
                1.1                3.000000
                1.2                3.600000
                1.3                3.228571
                1.4                3.333333
                1.5                3.535714
                1.6                3.342857
                1.7                3.600000
                1.9                3.600000
Iris-versicolor 3.0                2.500000
                3.3                2.350000
                3.5                2.300000
                3.6                2.900000
                3.7                2.400000
                3.8                2.400000
                3.9                2.633333
                4.0                2.480000
                4.1                2.833333
                4.2                2.900000
                4.3                2.900000
                4.4                2.750000
                4.5                2.928571
                4.6                2.900000
                4.7                3.060000
                4.8                3.000000
                4.9                2.800000
                5.0                3.000000
                5.1                2.700000
Iris-virginica  4.5                2.500000
                4.8                2.900000
                4.9                2.833333
                5.0                2.400000
                5.1                2.900000
                5.2                3.000000
                5.3                2.950000
                5.4                3.250000
                5.5                3.033333
                5.6                2.933333
                5.7                3.266667
                5.8                2.833333
                5.9                3.100000
                6.0                3.250000
                6.1                3.133333
                6.3                2.900000
                6.4                3.800000
                6.6                3.000000
                6.7                3.300000
                6.9                2.600000