In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("hepatitis.csv", header=None)
df.head()

   0   1   2  3   4  5  6  7  8  9  10 11 12 13    14   15   16   17  18  19
0   2  30   2  1   2  2  2  2  1  2  2  2  2  2  1.00   85   18  4.0   ?   1
1   2  50   1  1   2  1  2  2  1  2  2  2  2  2  0.90  135   42  3.5   ?   1
2   2  78   1  2   2  1  2  2  2  2  2  2  2  2  0.70   96   32  4.0   ?   1
3   2  31   1  ?   1  2  2  2  2  2  2  2  2  2  0.70   46   52  4.0  80   1
4   2  34   1  2   2  2  2  2  2  2  2  2  2  2  1.00    ?  200  4.0   ?   1

In [5]:
df.columns = ["Class","Age","Sex","Steroid","Antivirals","Fatigue","Malaise","Anorexia","LiverBig","LiverFirm","SpleenPalpable","Spiders","Ascites","Varices","Bilirubin","AlkPhosphate","SGOT","Albumin","Protime","Histology"]

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1

In [6]:
df.isna().sum()

Class             0
Age               0
Sex               0
Steroid           0
Antivirals        0
Fatigue           0
Malaise           0
Anorexia          0
LiverBig          0
LiverFirm         0
SpleenPalpable    0
Spiders           0
Ascites           0
Varices           0
Bilirubin         0
AlkPhosphate      0
SGOT              0
Albumin           0
Protime           0
Histology         0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Class           155 non-null    int64
 1   Age             155 non-null    int64
 2   Sex             155 non-null    int64
 3   Steroid         155 non-null    object
 4   Antivirals      155 non-null    int64
 5   Fatigue         155 non-null    object
 6   Malaise         155 non-null    object
 7   Anorexia        155 non-null    object
 8   LiverBig        155 non-null    object
 9   LiverFirm       155 non-null    object
 10  SpleenPalpable  155 non-null    object
 11  Spiders         155 non-null    object
 12  Ascites         155 non-null    object
 13  Varices         155 non-null    object
 14  Bilirubin       155 non-null    object
 15  AlkPhosphate    155 non-null    object
 16  SGOT            155 non-null    object
 17  Albumin         155 non-null    object
 18  Protime         155 non-null    object
 19  Histology       155 non-null    int64
dtypes: int64(5), object(15)
memory usage: 24.3+ KB

In [10]:
df.shape

(155, 20)

In [21]:
df = df.replace("?", 0)
df

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,0,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,0,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,0,1
3,2,31,1,0,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,0,200,4.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,0,242,3.3,50,2
151,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,0,2
152,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,0,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

# Subset

In [22]:
df["Sex"].unique()

array([2, 1], dtype=int64)

In [23]:
sex1 = df[df["Sex"] == 1]
sex1

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,0,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,0,1
3,2,31,1,0,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,0,200,4.0,0,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2,36,1,2,2,2,2,2,2,2,2,2,2,2,0.60,120,30,4.0,0,2
150,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,0,242,3.3,50,2
151,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,0,2
152,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,0,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

In [24]:
sex2 = df[df["Sex"] == 2]
sex2

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,0,1
20,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.90,48,20,4.2,64,1
24,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.40,45,18,4.3,70,1
27,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.40,175,55,2.7,36,1
32,2,41,2,2,1,1,1,1,2,2,2,2,2,2,0.70,81,53,5.0,74,1
33,2,26,2,1,2,2,2,2,2,1,2,2,2,2,0.50,135,29,3.8,60,1
37,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,0,1
47,2,28,2,2,2,1,1,2,2,1,2,2,2,2,1.80,191,420,3.3,46,1
59,2,45,2,1,2,1,1,2,2,2,1,2,2,2,1.00,85,75,0,0,1
77,2,34,2,1,1,2,2,2,2,1,2,2,2,2,0.60,30,24,4.0,76,1
83,2,67,2,1,2,1,1,2,2,2,0,0,0,0,1.50,179,69,2.9,0,1
84,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.9,58,1
90,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
115,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,0,0,2
125,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2

# Merging

In [25]:
df_merge = pd.merge(sex1, sex2, left_on="Class", right_on="Age", how="outer")
df_merge

,Class_x,Age_x,Sex_x,Steroid_x,Antivirals_x,Fatigue_x,Malaise_x,Anorexia_x,LiverBig_x,LiverFirm_x,...,SpleenPalpable_y,Spiders_y,Ascites_y,Varices_y,Bilirubin_y,AlkPhosphate_y,SGOT_y,Albumin_y,Protime_y,Histology_y
0,2.0,50.0,1.0,1,2.0,1,2,2,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,78.0,1.0,2,2.0,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,31.0,1.0,0,1.0,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,34.0,1.0,2,2.0,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,34.0,1.0,2,2.0,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1.50,179,69,2.9,0,1.0
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,1,2,2,1.30,141,156,3.9,58,1.0
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,2,2,0.90,230,117,3.4,41,2.0
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,2,2,3.20,119,136,0,0,2.0
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,2,1,1.50,81,19,4.1,48,2.0

# Sorting

In [28]:
df_sort_age = df.sort_values(by="Age",ascending=False)
df_sorted

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,0,1
133,2,72,1,2,1,1,2,2,2,1,2,2,2,2,1.00,115,52,3.4,50,2
147,1,70,1,1,2,1,1,1,0,0,0,0,0,0,1.70,109,528,2.8,35,2
115,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,0,0,2
83,2,67,2,1,2,1,1,2,2,2,0,0,0,0,1.50,179,69,2.9,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2,22,1,2,2,2,2,2,2,2,2,2,2,2,0.70,0,24,0,0,2
121,2,20,1,1,2,1,1,1,2,2,2,1,1,2,1.00,160,118,2.9,23,2
148,2,20,1,1,2,2,2,2,2,0,2,2,2,2,0.90,89,152,4.0,0,2
37,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,0,1
110,2,7,1,2,2,2,2,2,2,1,1,2,2,2,0.70,256,25,4.2,0,2

In [30]:
df["SGOT"] = df["SGOT"].astype(str).astype(int)

In [31]:
df_sort_sgot = df.sort_values(by="SGOT", ascending=True)
df_sort_sgot

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
118,1,61,1,1,2,1,1,2,0,0,2,1,2,2,0,0,0,0,0,2
6,1,51,1,1,2,1,2,1,2,2,1,1,2,2,0,0,0,0,0,1
7,2,23,1,2,2,2,2,2,2,2,2,2,2,2,1.00,0,0,0,0,1
56,2,34,1,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
80,2,23,1,2,2,1,1,1,2,2,2,2,2,2,0.80,0,14,4.8,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2,51,1,2,2,1,1,1,0,0,0,0,0,0,0.90,76,271,4.4,0,1
132,2,48,1,2,2,1,1,1,2,1,2,1,2,2,2.00,158,278,3.8,0,2
47,2,28,2,2,2,1,1,2,2,1,2,2,2,2,1.80,191,420,3.3,46,1
147,1,70,1,1,2,1,1,1,0,0,0,0,0,0,1.70,109,528,2.8,35,2
107,2,45,1,1,2,1,1,1,2,2,2,2,2,2,2.30,0,648,0,0,2

In [32]:
df["Protime"] = df["Protime"].astype(str).astype(int)

In [33]:
df_sort_protime = df.sort_values(by="Protime", ascending=False)
df_sort_protime

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
125,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
82,2,30,1,1,2,2,2,2,2,2,2,2,2,2,0.70,100,31,4.0,100,1
43,2,56,1,1,2,1,2,2,2,2,2,2,2,2,0.70,71,18,4.4,100,1
28,2,61,1,1,2,1,2,2,1,1,2,2,2,2,1.30,78,25,3.8,100,1
53,2,40,1,2,1,1,2,2,2,1,1,2,2,2,1.20,85,31,4.0,100,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,2,60,1,1,2,1,2,2,1,1,1,1,2,2,0,0,40,0,0,2
45,2,28,1,2,2,1,1,2,2,2,2,2,2,2,0.70,74,110,4.4,0,1
97,2,44,1,1,2,1,1,2,1,1,2,1,2,2,3.00,114,65,3.5,0,2
46,2,37,1,1,2,2,2,2,2,1,2,1,2,2,0.60,80,80,3.8,0,1
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,0,1

# Transpose

In [34]:
df_transpose = df.T
df_transpose

,0,1,2,3,4,5,6,7,8,9,...,145,146,147,148,149,150,151,152,153,154
Class,2,2,2,2,2,2,1,2,2,2,...,2,1,1,2,2,1,2,2,2,1
Age,30,50,78,31,34,34,51,23,39,30,...,31,41,70,20,36,46,44,61,53,43
Sex,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,2,1
Steroid,1,1,2,0,2,2,1,2,2,2,...,1,2,1,1,2,2,2,1,1,2
Antivirals,2,2,2,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Fatigue,2,1,1,2,2,2,1,2,1,2,...,1,1,1,2,2,1,1,1,1,1
Malaise,2,2,2,2,2,2,2,2,2,2,...,2,2,1,2,2,1,2,1,2,2
Anorexia,2,2,2,2,2,2,1,2,2,2,...,2,2,1,2,2,1,2,2,2,2
LiverBig,1,1,2,2,2,2,2,2,2,2,...,2,2,0,2,2,2,2,1,2,2
LiverFirm,2,2,2,2,2,2,2,2,1,2,...,2,1,0,0,2,2,1,1,2,2
SpleenPalpable,2,2,2,2,2,2,1,2,2,2,...,2,1,0,2,2,2,2,2,1,1
Spiders,2,2,2,2,2,2,1,2,2,2,...,2,1,0,2,2,1,2,1,1,1
Ascites,2,2,2,2,2,2,2,2,2,2,...,2,2,0,2,2,1,2,2,2,1
Varices,2,2,2,2,2,2,2,2,2,2,...,2,1,0,2,2,1,2,2,1,2
Bilirubin,1.00,0.90,0.70,0.70,1.00,0.90,0,1.00,0.70,1.00,...,1.20,4.20,1.70,0.90,0.60,7.60,0.90,0.80,1.50,1.20
AlkPhosphate,85,135,96,46,0,95,0,0,0,0,...,75,65,109,89,120,0,126,75,81,100
SGOT,18,42,32,52,200,28,0,0,48,120,...,173,120,528,152,30,242,142,20,19,19
Albumin,4.0,3.5,4.0,4.0,4.0,4.0,0,0,4.4,3.9,...,4.2,3.4,2.8,4.0,4.0,3.3,4.3,4.1,4.1,3.1
Protime,0,0,0,80,0,75,0,0,0,0,...,54,0,35,0,0,50,0,0,48,42
Histology,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2

# Melting

In [36]:
df_melt = pd.melt(df, id_vars=["Sex","Class"])
df_melt

      Sex  Class   variable value
0       2      2        Age    30
1       1      2        Age    50
2       1      2        Age    78
3       1      2        Age    31
4       1      2        Age    34
...   ...    ...        ...   ...
2785    1      1  Histology     2
2786    1      2  Histology     2
2787    1      2  Histology     2
2788    2      2  Histology     2
2789    1      1  Histology     2

[2790 rows x 4 columns]

# Cast to wide format

In [52]:
df_cast = pd.pivot_table(df, index=["Class","Sex"], values=["Age","SGOT","Protime","Histology"], aggfunc="mean")
df_cast

                 Age  Histology    Protime       SGOT
Class Sex
1     1    46.593750   1.781250  24.468750  93.593750
2     1    39.542056   1.383178  37.261682  81.065421
      2    41.500000   1.250000  42.062500  81.312500